/*Styles for chat screen*/
html, body {
    height: 100%;
    min-height: 100%;
}

body.purple {
    background: url(../img/blur_purple.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/blur_blue.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

body.green {
    background: url(../img/blur_green.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

.chatter {
    position: relative;
    top: 10px;
    z-index: 1000;
    margin: 0;
    margin-bottom: 100px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.chatter_field {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    outline: none;
    background: rgba(0,0,0,.9);
    z-index: 2000;
}

.chatter_field.chatter_message {
    margin: 0;
    padding: 11px 12px 9px 12px;
    font-size: .8em;
    line-height: 20px;
    height: 40px;
    resize: none;
}

textarea {
    border-radius: 0;
}

::-webkit-input-placeholder {
 /* WebKit browsers */
    color: #A74DFF;
}

:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
    color: #A74DFF;
}

::-moz-placeholder {
 /* Mozilla Firefox 19+ */
    color: #A74DFF;
}

:-ms-input-placeholder {
 /* Internet Explorer 10+ */
    color: #A74DFF;
}

.chatter .chatter_msg_item {
    position: relative;
    margin: 5px 0 8px 0;
    padding: 10px 10px 6px;
    display: block;
/*  background: rgba(0,0,0,.4);*/
    line-height: 1;
}

.message-element {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: -2px 0;
    border-bottom: 1px solid rgba(147, 0, 255, 0.2);
}

body.purple .message-element {
    background: rgba(16, 0, 21, 0.5);
}

.bubble {
    width: 75%;
    position: relative;
    display: inline-block;
    float: right;
    padding-right: 60px;
}

.sender {
    width: 20%;
    float: left;
    position: relative;
    display: inline-block;
    text-align: left;
    left: 0;
    letter-spacing: -1px;
}

.chatter_avatar {
    color: #FFFFFF;
    position: absolute;
    text-decoration: none;
    text-align: left;
    top: 15px;
    left: 10px;
}

.myself, .myself .chatter_avatar {
    color: #A74DFF;
}

.timestamp {
    position: absolute;
    font-size: 10px;
    right: -50px;
    top: 12px;
}

button#send-msg {
    border: none;
    bottom: 0;
    height: 40px;
    padding: 8px 15px;
    position: fixed;
    right: 0;
    z-index: 2000;
    background: none;
    color: #A74DFF;
    font-size: 1.4em;
}

@media all and (min-width: 1024px) {
    .chatter {
        font-size: 1.2em;
    }

    .chatter .chatter_msg_item {
        padding: 18px 10px;
    }

    .timestamp {
        position: absolute;
        font-size: .6em;
        right: -50px;
        top: 10px;
    };
}

