/*Styles for FAQ screen*/


html,
body {
    height: 100%;
}

body.purple {
    background: url(../img/blur_purple.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/blur_blue.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

body.green {
    background: url(../img/blur_green.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

.faq-trigger i {
    position: absolute;
    top: 15px;
    right: 10px
}

h1 {
    text-align: center;
}

.accordion {
    margin: 100px auto;
    text-align: left;
}

.faq-trigger {
    padding: 15px;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-family: 'signika_negativesemibold';
    font-size: .8em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

body.purple .faq-trigger {
    background: rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.8);
}

body.green .faq-trigger {
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #35B882), color-stop(100%, #45C18D));
    background-image: -webkit-linear-gradient(right bottom, #35B882 0%, #45C18D 100%);
    background-image: -moz-linear-gradient(right bottom, #35B882 0%, #45C18D 100%);
    background-image: -ms-linear-gradient(right bottom, #35B882 0%, #45C18D 100%);
    background-image: -o-linear-gradient(right bottom, #35B882 0%, #45C18D 100%);
    background-image: linear-gradient(to left top, #35B882 0%, #45C18D 100%);
    border-bottom: 1px solid #1d9463;
}

body.blue .faq-trigger {
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #4DBBFF), color-stop(100%, #62C3FF));
    background-image: -webkit-linear-gradient(right bottom, #4DBBFF 0%, #62C3FF 100%);
    background-image: -moz-linear-gradient(right bottom, #4DBBFF 0%, #62C3FF 100%);
    background-image: -ms-linear-gradient(right bottom, #4DBBFF 0%, #62C3FF 100%);
    background-image: -o-linear-gradient(right bottom, #4DBBFF 0%, #62C3FF 100%);
    background-image: linear-gradient(to left top, #4DBBFF 0%, #62C3FF 100%);
    border-bottom: 1px solid #31a3e9;
}

.faq-content {
    display: none;
    padding: 15px 15px 15px 0;
    color: #fff;
    font-size: .8em;
}

.faq-content i {
    padding-right: 10px
}
.faq-content p {
    padding-left: 20px
}

img{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2px 20px 5px;
}

.faq-content ul li {
    list-style: none;
    margin: 7px 0;
}

body.purple .faq-content {
    background-color: rgba(0,0,0,.7);
}

body.green .faq-content {
    background-color: #23A771;
}

body.blue .faq-content {
    background-color: #35A5EA;
}

body.purple .highlight {
    background: #57008A
}

body.green .highlight {
    background: #23A771
}

body.blue .highlight {
    background: #35A5EA
}

.open {
    font-family: 'signika_negativebold';
}

body.purple .open {
    border-left: 20px solid #4D007A;
}

body.green .open {
    border-left: 20px solid #1F9D69;
}

body.blue .open {
    border-left: 20px solid #289AE0;
}
