/*Styles for FAQ screen*/


html,
body {
    height: 100%;
}

body.purple {
    background: url(../img/blur_purple.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/blur_blue.jpg) no-repeat right;
    background-size: cover;
    background-attachment: fixed;
}

body.green {
    background: url(../img/blur_green.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.faq-trigger i {
    position: absolute;
    top: 15px;
    right: 10px
}

h1 {
    text-align: center;
}

.accordion:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent rgba(0,0,0,.25); 
}

.accordion {
    margin: 60px auto;
    text-align: left;
}

.faq-trigger {
    padding: 15px;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-family: 'signika_negativesemibold';
    font-size: .8em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

body.purple .faq-trigger {
    background: rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.2);
}

body.green .faq-trigger {
    background: rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.2);
}

body.blue .faq-trigger {
    background: rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.faq-content {
    display: none;
    padding: 15px 15px 15px 0;
    color: #fff;
    font-size: .8em;
}

.faq-content i {
    padding-right: 10px
}

body.purple .faq-content i {
    color: #57008A;
}

body.blue .faq-content i {
    color: #1c6adc;
}

body.green .faq-content i {
    color: #23A771;
}

.faq-content p {
    padding-left: 20px
}

img{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2px 20px 5px;
}

.faq-content ul li {
    list-style: none;
    margin: 7px 0;
}

body.purple .faq-content {
    background-color: rgba(0,0,0,.7);
}

body.green .faq-content {
    background-color: rgba(0,0,0,.7);
}

body.blue .faq-content {
    background-color: rgba(0,0,0,.7);
}

body.purple .highlight {
    background-color: rgba(0,0,0,.55);
}

body.blue .highlight {
    background-color: rgba(0,0,0,.55);
}

body.green .highlight {
    background-color: rgba(0,0,0,.55);
}

.open {
    font-family: 'signika_negativebold';
}

.faq-content .icon-droplet{
    font-size: 2em;
    position: relative;
    top: 5px
}

body.purple .faq-content .icon-droplet{
    color: #57008A;
}

body.blue .faq-content .icon-droplet{
    color: #1c6adc;
}

body.green .faq-content .icon-droplet{
    color: #23A771;
}

