/*Styles for home screen*/


body.purple {
    background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #a03bab), color-stop(100%, #421C52));
    background-image: -webkit-linear-gradient(bottom, #a03bab 0%, #421C52 100%);
    background-image: -moz-linear-gradient(bottom, #a03bab 0%, #421C52 100%);
    background-image: -ms-linear-gradient(bottom, #a03bab 0%, #421C52 100%);
    background-image: -o-linear-gradient(bottom, #a03bab 0%, #421C52 100%);
    background-image: linear-gradient(to top, #a03bab 0%, #421C52 100%);
}

body.blue {
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(25%, #CBF2FF), color-stop(100%, #4DBBFF));
    background-image: -webkit-radial-gradient(center bottom, farthest-side circle, #CBF2FF 25%, #4DBBFF 100%);
    background-image: -moz-radial-gradient(center bottom, farthest-side circle, #CBF2FF 25%, #4DBBFF 100%);
    background-image: -ms-radial-gradient(center bottom, farthest-side circle, #CBF2FF 25%, #4DBBFF 100%);
    background-image: -o-radial-gradient(center bottom, farthest-side circle, #CBF2FF 25%, #4DBBFF 100%);
    background-image: radial-gradient(farthest-side circle at center bottom, #CBF2FF 25%, #4DBBFF 100%);
}

body.green {
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(15%, #ABFFE2), color-stop(100%, #54CC9A));
    background-image: -webkit-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: -moz-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: -ms-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: -o-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: radial-gradient(circle farthest-side at center bottom , #ABFFE2 25%, #54CC9A 100%);
}

/*ul#score {
    border: none;
    color: #5F6F81;
    font-size: 18px;
    height: 60px;
    position: fixed;
    right: 0;
    top: -18px;
}

#score li {
    border-right: 1px solid #C6D0DA;
    float: left;
    height: 100%;
    list-style: none outside none;
    padding: 20px 20px 0;
    text-align: center;
    color: #5F6F81;
}

#score li span {
    color: #5F6F81 !important;
}*/

.liquid-slider {
    position: relative;
    top: 90px;
}

h1.location {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 0;
    position: relative;
    top: -20px
}

h3.title {
    letter-spacing: .1em;
    font-weight: 400;
    position: relative;
    top: -15px
}

.arrows {
    position: relative;
    top: 50px;
}

.arrows a {
    display: inline-block;
    color: #fff !important;
    font-size: 2em;
    position: absolute;
}

.arrows a#to-left {
    position: absolute;
    left: 10px;
}

.arrows a#to-right {
    position: absolute;
    right: 10px;
}

.arrows a {
    position: relative;
    top: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.arrows a:active {
    -webkit-transform: scale(2.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(2.9);
    text-shadow: 0 0 20px #FFC7A7;
}

#start-to-spray {
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
}

img#can {
    width: 20%;
    position: relative;
    top: 50px
}

a.spray {
    font-size: 5em;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
}

a.spray:active {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

/*.purple-owns {
    color: #FF9FFB !important;
}

.green-owns {
    color: #6DFFA6 !important;
}

.blue-owns {
    color: #8FF2FF !important;
}*/

p.owner {
/*   background: rgba(0,0,0,.4);*/
    color: #fff;
    display: inline-block;
    padding: 5px 10px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 700
}

.icon-droplet {
    color: white;
}

/*body.purple .icon-droplet {
    color: #551071 !important;
}

body.blue .icon-droplet {
    color: #76D8FF !important;
}

body.green .icon-droplet {
    color: #5CDDA8 !important;
}*/ 



