/* Leaderboard screen **************************/

html, body {
    height: 100%;
}

body.purple {
    background: url(../img/map_purple.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/blur_blue.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

body.green {
    background: url(../img/blur_green.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

table {
    margin: 10 0 60px; 
    height: 100%;
    width: 100%;
    font-size: 12px;
}

table th {
    padding: 30px 25px 20px 10px;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

body.purple table th {
    background: rgba(0,0,0,.2);
    color: #9930FF
}

body.blue table th {
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #3dabff), color-stop(100%, #1fa9ff));
background-image: -webkit-linear-gradient(top, #3dabff 0%, #1fa9ff 100%);
background-image: -moz-linear-gradient(top, #3dabff 0%, #1fa9ff 100%);
background-image: -ms-linear-gradient(top, #3dabff 0%, #1fa9ff 100%);
background-image: -o-linear-gradient(top, #3dabff 0%, #1fa9ff 100%);
background-image: linear-gradient(to bottom, #3dabff 0%, #1fa9ff 100%);
}

body.green table th {
background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #00BB8D), color-stop(100%, #48D69B));
background-image: -webkit-linear-gradient(bottom, #00BB8D 0%, #48D69B 100%);
background-image: -moz-linear-gradient(bottom, #00BB8D 0%, #48D69B 100%);
background-image: -ms-linear-gradient(bottom, #00BB8D 0%, #48D69B 100%);
background-image: -o-linear-gradient(bottom, #00BB8D 0%, #48D69B 100%);
background-image: linear-gradient(to top, #00BB8D 0%, #48D69B 100%);
}

table th span{
    font-size: 1.4em;
}

table th:first-child {
    text-align: left;
    padding-left: 23px;
}

table tr {
    text-align: left;
    padding-left: 20px;
}

table td:nth-child(1) {
    padding-left: 28px;
}

table tr td {
    padding: 5px 5px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

body.purple table tr td {
    background: #4f0877;
    background: rgba(58, 0, 95,.4);
}

body.purple table tr:nth-child(odd) td{
    background: #5e0b8d;
    background: rgba(80, 0, 125, .6);
}

body.blue table tr td {
    background: #3dabff
}

body.blue table#player-board tr:nth-child(odd) td{
    background: #4db2ff
}

body.green table tr td {
    background: #14ca92
}

body.green table#player-board tr:nth-child(odd) td{

}

table tr.you td {
    background: #111 !important;
    color: white
}

table tr:last-child td {
    border-bottom: 0;
}


.wrapper {
    width: 100%;
    height: 100%;
    padding: 0 0 50px;
    margin: 55px auto 0;
    position: relative;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.content-slide {
    overflow-x: hidden;
}

.best h3 {
    font-size: .8em
}

.best p {
    font-size: .7em
}


.best div {
    width: 50%;
    float: left;
    padding: 20px;
}

span.best-players-gang:before {
    content: " / ";
    display: block;
    position: relative;
    margin: 0 2px; 
    font-size: 1em
}


@media all and (min-width: 1024px) {
table tr td {
    padding: 25px 5px;
    font-size: 2em
}

table th span{
    font-size: 2em;
}

table#gang-board td:nth-child(1), table#gang-board td:nth-child(2), table#player-board td:nth-child(1), table#player-board td:nth-child(2) {
    font-size: 3em;
}

}
