/* Leaderboard screen **************************/

html, body {
    padding-bottom: 20px
}

/*
body {
    background: url(../img/login.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}
*/

body.purple {
    background: url(../img/map_purple.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/map_blue.jpg) no-repeat top;
    background-size: cover;
	background-attachment: fixed;
}

body.green {
    background: url(../img/map_green.jpg) no-repeat top;
    background-size: cover;
	background-attachment: fixed;
}

body.blue .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/blue.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurblue 1 ease 5s;
      z-index: 1;
}

body.purple .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/purple.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurblue 1 ease 5s;
      z-index: 1;
}

body.green .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/green.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurgreen 1 ease 5s;
      z-index: 1;
}

@-webkit-keyframes blurblue { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

@-webkit-keyframes blurpurple { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

@-webkit-keyframes blurgreen { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}


/*
table#gang-board:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 30px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent rgba(0,0,0,.25); 
}
*/

table {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 12px;
    -webkit-animation-delay: 1s;
	animation-delay: 1s;
}

table#gang-board {
    top: 65px;
    margin-bottom: 60px
}

table#player-board {
    margin-bottom: 40px
}

table th {
    padding: 30px 25px 20px 10px;
    text-align: left;
	font-size: 1.2em;
    text-transform: uppercase;
/*    border-bottom: 1px solid #1c6adc;*/

}

table th:first-child {
    text-align: left;
    padding-left: 23px;
}


table th:nth-child(2) .icon {
	font-size: 2em;
	position: relative;
	display: block;
}


table tr {
    text-align: left;
    padding-left: 20px;

}

table tr td {
	line-height: 2em;
	width: 28%;
    height: 100%;
}

body.blue table tr td {
   background: rgba(0, 6, 72, 0.3);
    border-bottom: 1px solid rgba(28,106,220,.2);
}

body.purple table tr td {
   background: rgba(48, 0, 91, 0.3);
   border-bottom: 1px solid rgba(96, 0, 181,.2);
}

body.green table tr td {
   background: rgba(0,91,93,0.3);
   border-bottom: 1px solid rgba(0,181,166,0.2);
}

table td:nth-child(1) {
    padding-left: 28px;
    width: 4%;
    font-size: 1.2em
}

table td:nth-child(2) {
    width: 40%;
}

body.purple table tr:nth-of-type(odd) td {
   background: rgba(48, 0, 91, 0.5);
}

body.blue table tr:nth-of-type(odd) td {
   background: rgba(0, 6, 72, 0.5);
}

body.green table tr:nth-of-type(odd) td {
   background: rgba(0,91,93,0.5);
} 
/*
table tr td:first-child {
    font-size: 1.2em
}

table tr.you td {
    background: #111 !important;
    color: white
}
*/

table tr:last-child td {
    border-bottom: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0 0 50px;
    margin: 55px auto 0;
    position: relative;
}

/*.swiper-container {
    height: 100%;
    width: 100%;
}

.content-slide {
    overflow-x: hidden;
}*/

/*.best h3 {
    font-size: .8em
}

.best p {
    font-size: .7em
}

.best div {
    width: 50%;
    float: left;
    padding: 20px;
}*/

/*span.best-players-gang:before {
    content: " / ";
    display: block;
    position: relative;
    margin: 0 2px; 
    font-size: 1em
}*/


@media all and (min-width: 1024px) {
table tr td {
    padding: 25px 5px;
    font-size: 2em
}

table th span{
    font-size: 2em;
}

table#gang-board td:nth-child(1), table#gang-board td:nth-child(2), table#player-board td:nth-child(1), table#player-board td:nth-child(2) {
    font-size: 3em;
}

}
