/* Leaderboard screen **************************/

html, 
body {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0;
    margin: 0;
}

body.purple {
    color: #4D007A;
}

body.blue {
    color: #5CC1FF;
}

body.green {
    color: #39C188
}

h1.location {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 0;
    position: relative;
    top: -20px;
}

h3.title {
    letter-spacing: .1em;
    font-weight: 400;
    position: relative;
    top: -15px;
}

.title {
    font-family: "Raleway", sans-serif;
    position: relative;
    top: 0;
    text-align: center;
    font-size: 22px;
}

table {
    margin: 10px 0;
    height: 100%;
    width: 100%;
    font-family: "Lato";
    font-size: 12px;
    position: relative;
}

table#gang-board {
    font-size: 14px;
}

table th {
    padding: 21px 25px 22px 10px;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

table th span{
    font-size: 2em;
}

table#gang-board tr td {
    padding: 15px 10px;
}

table th:first-child {
    text-align: left;
    padding-left: 20px;
}

table tr {
    text-align: left;
    padding-left: 20px;
}

table td:nth-child(1) {
    padding-left: 28px;
}

table#gang-board td:nth-child(1) {
    padding-left: 30px;
}

table tr td {
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0,0,0,.02);
}

table#player-board tr:nth-child(odd) td{
    background:#FEFEFE;
}

body.purple table tr.you td {
    background: #390358;
    color: white
}

body.blue table tr.you td {
    background: #30B0FF;
    color: white
}

body.green table tr.you td {
    background: #00AD82;
    color: white
}


table tr:last-child td {
    border-bottom: 0;
}

#leaderboards {
    display: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    margin: 55px auto 0;
    position: relative;
}

.arrow-left {
    bottom: 0;
    left: 0;
    height: 30px;
    position: fixed;
    padding: 4px 25px;
    z-index: 6000;
}

.arrow-right {
    bottom: 0;
    right: 0;
    height: 30px;
    position: fixed;
    padding: 4px 25px;
    z-index: 6000;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.content-slide {
    overflow-x: hidden;
}

.pagination {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5000;
}

body.purple .pagination {
    background: #430069;
}

body.blue .pagination {
    background: #4DBBFF;
}

body.green .pagination {
    background: #39C188;
}

.footer {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5000;
    height: 55px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.4);
    margin: 0 3px;
    cursor: pointer;
}

.swiper-active-switch {
    background: #fff;
}
