/* Login screen **************************/

html {
    height: 100%;
    background: url(../img/bg_neutral2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    text-shadow: none;
    color: #fff;
    margin: 0;
}

body .header {
    margin: 3em 0;
    text-align: center;
}

.content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.back {
    background: rgba(0,0,0,.1);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 0.6em 1em;
    text-align: center;
    position: absolute;
    font-weight: 400;
    top: 0;
    left: 0;
    z-index: 1000;
}

.back i {
    position: relative;
    top: 2px;
}

h1 {
    color: #3C287A;
    font-family: 'signika_negativelight';
}

.form {
    margin: 50px auto 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

input {
    font-size: .8em;
    width: 100%;
    margin-bottom: 1px;
    border: none;
    border-radius: none;
    padding: 15px 0 15px 20px;
    color: #fff;
    background: rgba(0,0,0,.2);
    border-left: 5px solid rgba(0,0,0,.1);
}

input.submit {
    font-size: 1em;
    font-family: 'signika_negativebold', sans-serif;
    font-weight: normal;
    width: 100%;
    margin-bottom: 1px;
    border: none;
    border-radius: none;
    padding: 15px 0 15px 0;
    color: #fff;
    background: rgba(0,0,0,.2);
    border-left: none;
}

input:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

input:focus {
    background: rgba(0,0,0,.4);
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

::-moz-placeholder {
 /* Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
    opacity: 1;
}

:-moz-placeholder {
 /* Firefox 18- */
    color: white;
    opacity: 1;
}

.btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: none;
    cursor: pointer;
    font-family: 'signika_negativebold', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0,0,0,.1);
    padding: 20px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .5s;
    -moz-animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: 1;
}

.btn:active {
    background: rgba(0,0,0,.5);
}

.md-modal {
    height: auto;
    min-width: 320px;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 5000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #6d085b), color-stop(50%, #4e59df), color-stop(100%, #4feea6));
    background-image: -webkit-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -moz-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -ms-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -o-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: linear-gradient(to left top, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #6d085b), color-stop(50%, #4e59df), color-stop(100%, #4feea6));
    background-image: -webkit-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -moz-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -ms-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -o-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: linear-gradient(to left top, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}

.help .md-content {
    padding-top: 40px;
}

small {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 400;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.help .md-content > div p {
    margin: 0 auto;
    padding: 10px 0;
    width: 60%;
}

.error .md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.icon-locked {
    position: relative;
    display: inline-block;
    margin-top: 70px;
    font-size: 3em;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    background: rgba(0,0,0,.1);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: .5em 1.2em;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: -50px;
    left: -2px;
    z-index: 1000;
}

.error .md-content button {
    background: #FF783E;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: .8em;
    font-family: 'signika_negativebold', sans-serif;
    font-weight: normal;
    padding: .8em 1.2em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 40px;
    z-index: 1000;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.error .md-content button:hover, .error .md-content button:active, .error .md-content button:focus {
    background: #FF8E5E;
    box-shadow: 0 2px 0 rgba(0,0,0,0);
}

.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #2effe5), color-stop(25%, #009beb), color-stop(83%, #5d00d1));
    background-image: -webkit-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -moz-linear-gradient(bottom, #2effe5 0%, #009beb 25%, #5d00d1 83%);
    background-image: -ms-linear-gradient(bottom, #2effe5 0%, #009beb 25%, #5d00d1 83%);
    background-image: -o-linear-gradient(bottom, #2effe5 0%, #009beb 25%, #5d00d1 83%);
    background-image: linear-gradient(to top, #FF502D 0%, #EB5600 25%, #D62B00 83%);
}

.md-show.help.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #FF502D), color-stop(25%, #EB5600), color-stop(83%, #D62B00));
    background-image: -webkit-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -moz-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -ms-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -o-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: linear-gradient(to top, #FF502D 0%, #EB5600 25%, #D62B00 83%);
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*Login error*/

.problems {
    font-size: .8em;
    text-align: center;
    margin-top: 30px;
}

.input.error {
    background: rgba(255, 11, 68, 0.6);
}

.icon-ccw {
    position: relative;
    top: 2px;
    left: 5px;
    font-size: 1.3em;
}

