/*Styles for profile screen*/


body {
    height: 100%;
}

.container {
    height: 100%;
    padding-top: 30px;
    position: relative;
    z-index: 10;
}

body.purple {
    background: url(../img/map_purple.jpg) no-repeat center;
    background-size: cover;
	background-attachment: fixed;
}

body.blue {
    background: url(../img/map_blue.jpg) no-repeat right;
    background-size: cover;
    background-attachment: fixed;
}

body.green {
    background: url(../img/map_green.jpg) no-repeat right;
    background-size: cover;
    background-attachment: fixed;
}

body.blue .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/blue.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurblue 1 ease 5s;
   animation: blurblue 1 ease 5s;
    z-index: 1;
}

body.purple .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/purple.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurpurple 1 ease 5s;
    animation: blurpurple 1 ease 5s;
     z-index: 1;
}

body.green .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/green.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
    -webkit-animation: blurgreen 1 ease 5s;
    animation: blurgreen 1 ease 5s;
    z-index: 1;
}

@-webkit-keyframes blurblue { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

@-webkit-keyframes blurpurple { 
   50% {
    background-position: 100% 100%;
    opacity: .4;
    }
}

@-webkit-keyframes blurgreen { 
   50% {
    background-position: 100% 100%;
    opacity: .4;
    }
}

@keyframes blurblue { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

@keyframes blurpurple { 
   50% {
    background-position: 100% 100%;
    opacity: .4;
    }
}

@keyframes blurgreen { 
   50% {
    background-position: 100% 100%;
    opacity: .4;
    }
}



h2.gang-name {
    font-size: 1.6em;
    font-family: 'signika_negativelight';
    line-height: 0;
    color: #fff;
	left: 120px;
    position: relative;
    top: 35px;
}

h2.gang-info {
    text-align: center;
    line-height: 0;
    font-size: 1.2em
}

h2.description {
    text-align: center;
    position: relative;
    top: 50px;
    margin-bottom: 40px;
}

h2.description span {
    display: block;
    font-size: 1.2em;
    font-family: 'signika_negativebold';
    text-transform: uppercase;
}

p.slogan {
    padding-left: 120px;
    position: relative;
    top: -35px;
    z-index: 1000;
    text-align: left !important;
    font-size: .7em !important;
    text-transform: none;
    line-height: 1em !important;
}

.gang-tiles h3 {
    font-family: 'signika_negativeregular';
    font-size: .8em;
    line-height: 0;
    color: #fff;
}

.row-two, .row-three, .row-four {
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:-ms-flexbox; /* Internet Explorer 10 */
    display:box;
    display: flex;
}

.gang-tiles p {
    font-size: 1.1em;
    line-height: .4em;
    text-align: center;
    font-family: 'signika_negativebold';
}

.row-one div:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 25px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12px 12px 12px;
}

body.green .row-one div:before {
    border-color: transparent transparent rgba(0,247,255,0.1); 
}

body.purple .row-one div:before {
    border-color: transparent transparent rgba(47,110,255,0.1); 
}

body.blue .row-one div:before {
    border-color: transparent transparent rgba(47,110,255,0.1); 
}

.row-one div{
    width: 100%;
    position: relative;
    padding: 0 20px 0 10px;
    background: rgba(0, 0, 0, 0.4);
    height: 180px;
    top: 10px;
}

body.purple .row-one div{
    background: rgba(47,110,255,0.1);
}

body.blue .row-one div{
    background: rgba(47,110,255,0.1);
}

body.green .row-one div{
    background: rgba(0,247,255,0.1);
}

.row-two div {
    width: 100%;
    position: relative;
    padding: 8px 20px 8px 10px;
    background: rgba(0,0,0,.6);
    top: 10px;
    font-size: 1.1em;
    letter-spacing: -.02em;
        -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.row-three div, .row-four div{
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
    flex: 1;
    background: rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.3);
    padding: 5px 5px 1px;
    text-align: center;
}

.row-three div {
    padding: 5px 5px 10px;
    position: relative;
	top: 10px;
/*     height: 70px; */
        -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.row-four div {
    padding: 5px 5px 10px;
    position: relative;
	top: 10px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.gang-tiles a {
    display: block;
    height: 100%;
    padding-top: 5px;
    position: relative;
}

.gang-tiles i.info-icon {
    color: #fff;
    left: 0;
    top: 0;
    font-size: 1em;
    opacity: .8;
    padding-right: 5px;
    position: relative;
}

body.purple .gang-tiles i.info-icon {
    color: #9930FF;
}

body.blue .gang-tiles i.info-icon {
    color: #4A96FF;
}

body.green .gang-tiles i.info-icon {
    color: #00c3a1;
}

.icon-history {
    margin-right: 5px
}

.row-one .icon-dudes {
    font-size: 4em !important;
    top: 70px !important;
    display: inline-block;
}

.gang-tiles i.icon-message-bubble2 {
    position: relative;
    display: inline-block;
    top: 25px;
    left: -5px;
    font-size: 2em;
    color: #fff;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

span.icon-arrow-right-big {
    color: #FFFFFF !important;
    display: inline-block !important;
    font-size: 1em !important;
    top: 1px;
    position: relative;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 320px;
    height: 100%;
    z-index: 5000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}

.md-content h2 {
    margin: 0;
    position: relative;
    top: 70px;
    text-align: center;
    font-family: 'signika_negativelight';
    font-size: 1.4em;
    opacity: 0.8;
    z-index: 1000
}

.md-close {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    padding: 0.8em 1.4em 0.8em;
    text-align: left;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'signika_negativebold';
}

body.purple .md-close {
    background: #9930FF;
}

body.green .md-close {
    background: #5ED5A7;
}

body.blue .md-close {
    background: #4A96FF;
}

.md-close span {
    position: relative;
    top: 1px;
    left: 0;
}

/* Effect 12:  Just me */
.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

body.purple .md-show.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #570085), color-stop(45%, #450070), color-stop(100%, #320052));
    background-image: -webkit-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -moz-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: radial-gradient(farthest-side at right top, #570085 0%, #450070 45%, #320052 100%);
}

body.green .md-show.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #32f5c9), color-stop(45%, #009981), color-stop(100%, #007055));
    background-image: -webkit-radial-gradient(right top, farthest-side, #32f5c9 0%, #009981 45%, #007055 100%);
    background-image: -moz-radial-gradient(right top, farthest-side, #32f5c9 0%, #009981 45%, #007055 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #32f5c9 0%, #009981 45%, #007055 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #32f5c9 0%, #009981 45%, #007055 100%);
    background-image: radial-gradient(farthest-side at right top, #32f5c9 0%, #009981 45%, #007055 100%);
}

body.blue .md-show.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #0055bd), color-stop(45%, #00398f), color-stop(100%, #002152));
    background-image: -webkit-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: -moz-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: radial-gradient(farthest-side at right top, #0055bd 0%, #00398f 45%, #002152 100%);
}

body.purple .md-show.modal-cans.md-effect-12 ~ .md-overlay {
    background: url(../img/purple-gang.png) no-repeat, #000;
    background-size: 40%;
    background-position: 50% 70%;
}

body.green .md-show.modal-cans.md-effect-12 ~ .md-overlay {
    background: url(../img/green-gang.png) no-repeat, #000;
    background-size: 40%;
    background-position: 50% 70%;
}

body.blue .md-show.modal-cans.md-effect-12 ~ .md-overlay {
    background: url(../img/blue-gang.png) no-repeat, #000;
    background-size: 40%;
    background-position: 50% 70%;
}

body.purple .md-show.modal-tag.md-effect-12 ~ .md-overlay {
    background: url(../img/purplespray.png) no-repeat center, #000;
    background-size: 40%;
    background-position: 50% 70%;
}

body.green .md-show.modal-tag.md-effect-12 ~ .md-overlay {
    background: url(../img/greenspray.png) no-repeat center, #000;
    background-size: 40%;
    background-position: 50% 70%;
}

body.blue .md-show.modal-tag.md-effect-12 ~ .md-overlay {
    background: url(../img/bluespray.png) no-repeat center, #000;
    background-size: 40%;
    background-position: 50% 70%;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

ul.members-list, ul.members-time-list {
    margin-top: 110px;
    position: relative;
    left: -20px
}

ul.members-list li, ul.members-time-list li {
    font-size: .8em;
    list-style: none;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}

ul.members-list li:nth-child(odd), ul.members-time-list li:nth-child(odd) {
    background: rgba(0,0,0,.08);
}

span.member-time {
    width: 70px;
    font-family: 'signika_negativebold';
    display: inline-block;
    font-size: 1.4em;
}

ul.members-list span {
    margin-right: 5px;
}

span.icon-arrow-right-small {
    position: relative;
    top: 2px;
}

i.modal-icon {
    position: absolute;
    font-size: 23em;
     -webkit-animation: scale 20s infinite linear;
    animation: scale 20s infinite linear;
}

body.purple i.modal-icon {
    color: rgba(139, 0, 197, 0.2);
}

body.blue i.modal-icon {
    color: rgba(0, 7, 54, 0.2);
}

body.green i.modal-icon {
    color: rgba(0, 0, 0, 0.1);
}

i.modal-icon.bigger {
    font-size: 33em;
    -webkit-animation: spin 8s infinite linear;
    animation: spin 8s infinite linear;
}

i.modal-icon.smaller {
    font-size: 13em;
    -webkit-animation: spin 14s infinite linear;
    animation: spin 14s infinite linear;
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

i.rotate {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
}

i.rotate2 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

i.rotate.topright {
    top: -30px;
    right: -10px;
    opacity: .1;
    font-size: 11em;
}
i.rotate2.bottomleft {
    font-size: 16em;
    bottom: 0;
    right: 10px;
    opacity: .1;
}

i.modal-icon.tiny {
    font-size: 6em;
    -webkit-animation: spin 18s infinite linear;
    animation: spin 18s infinite linear;
    -webkit-filter: blur(4px)
    filter: blur(4px)
}


@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes scale {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(2); }
}

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

@keyframes scale {
    from {transform: scale(1); }
    to {transform: scale(2); }
}


@media all and (min-width: 1024px) {

    i.small {
        font-size: 5em;
    }

    h2.gang-name {
        font-size: 4em;
    }

    h3.mood {
        font-size: 2em;
    }

    span.info {
        font-size: 6em;
    }

    span.profile-icon {
        font-size: 3em;
    }

    i.icon-message-bubble2 {
        font-size: 3em;
    };
}
