/*Styles for Gang profile screen*/

html,
body {
    height: 100%;
}

body.purple {
    background: url(../img/blur_purple.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/blur_blue.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

body.green {
    background: url(../img/blur_green.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style: none;
}

.onepcssgrid-1200 {
    height: 100%;
    max-width: 100%;
    padding: 0;
    overflow: scroll;
}

.onerow {
    height: 20%;
    padding: 0
}

.onerow.short {
    height: 20%;
}

.onerow.event {
    height: 15%;
}

.onerow.top {
    margin-top: 60px;
    height: 40%;
}

.onerow.last-row {
    margin-bottom: 0 !important;
}

h2.description-title {
    padding: 60px 0 0;
    font-family: 'signika_negativelight';
}

p.description {
    padding: 30px;
}

h2.gang-name {
    font-size:1.4em;
    padding: 10px 20px;
    position: relative;
    z-index: 100;
}

body.purple h2.gang-name {
    font-family: 'phantombold', sans-serif;
    color: #9930FF
}

body.blue h2.gang-name {
    font-family: 'ceviche_oneregular';
    color: #4A96FF;
    text-transform: uppercase;
}

body.green h2.gang-name {
    font-family: 'new_rockerregular';
    text-transform: uppercase;
}

h3.slogan {
    padding: 20px;
    position: relative;
    top: -170px;
    z-index: 1000;
    font-size: .6em;
    text-transform: uppercase;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

h3.slogan {
    color: #fff;
}


h2.gang-info {
    font-size: 1.1em;
    line-height: 1em;
    position: relative;
    top: 0;
}

h2.gang-info.events{
    font-size: .9em;
    top: 10px;
}

h2.gang-info.tag {
    font-size: 1.4em;
}

h2.gang-info.paint {
    font-size: 1.4em;
    top: 10px;
    padding-right: 20px;
    padding-left: 10px;
}

.tile i {
    position: absolute;
    font-size: 10em;
    opacity: .3
}

.tile i.small {
    position: relative;
    font-size: 1.4em;
    opacity: 1;
    top: 10px;
}

body.purple i.small {
    color: #C26FFF;
    color: rgba(159, 51, 239, 0.7);
}

body.blue i.small {
    color: #4A96FF;
}

body.green i.small {
    color: #fff;
}

i.rotate {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
}

i.rotate2 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

i.rotate.topright {
    top: -30px;
    right: -10px;
    opacity: .1;
    font-size: 11em;
}
i.rotate2.bottomleft {
    font-size: 16em;
    bottom: 0;
    right: 10px;
    opacity: .1;
}

i.icon-droplet {
    position: relative;
    top: -70px;
    text-align: left;
    font-size: 8em;
    opacity: .4
}

body.purple i.icon-droplet {
    color: #A207ED;
}

body.blue i.icon-droplet {
    color: rgba(0,0,0,.3);
}

body.green i.icon-droplet {
    color: #5CFFE1;
}

i.icon-spray, i.icon-tag {
    font-size: 3em;
}

i.left {
    float: left;
    left: 10px;
    top: 15px;
}

i.modal-icon {
    position: absolute;
    font-size: 23em;
     -webkit-animation: scale 20s infinite linear;
    animation: scale 20s infinite linear;
}

body.purple i.modal-icon {
    color: rgba(0, 7, 54, 0.2);
}

body.blue i.modal-icon {
    color: rgba(0, 7, 54, 0.2);
}

body.green i.modal-icon {
    color: rgba(0, 7, 54, 0.2);
}

i.modal-icon.bigger {
    font-size: 33em;
    -webkit-animation: spin 8s infinite linear;
    animation: spin 8s infinite linear;
}

i.modal-icon.smaller {
    font-size: 13em;
    -webkit-animation: spin 14s infinite linear;
    animation: spin 14s infinite linear;
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes scale {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(2); }
}

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

@keyframes scale {
    from {transform: scale(1); }
    to {transform: scale(2); }
}


i.modal-icon.tiny {
    font-size: 6em;
    -webkit-animation: spin 18s infinite linear;
    animation: spin 18s infinite linear;
    -webkit-filter: blur(4px)
    filter: blur(4px)
}

h2 {
    line-height: 0;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin-bottom: 40px;
}

img {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

img.tag {
    position: relative;
    left: 50px;
    top: 80px;
    width: 100%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

ul.gang-profile-list {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul.gang-profile-list li {
    list-style: none;
    width: 45%;
    background: #310842;
    float: left;
    padding: 10px;
    margin: 2px 0;
}

ul.gang-profile-list li.first {
    margin-right: 10%;
}

div.icon {
    margin-top: 40px;
    font-size: 20em;
    position: absolute;
    opacity: .1;
    z-index: 0;
    left: 0;
}

.btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    border-radius: none;
    box-shadow: 0 -10px 0 rgba(0,0,0,.1), 0 -3px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.1);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0,0,0,.2);
    padding: 20px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: 1;
}

.btn:active {
    background: rgba(0,0,0,.5);
}

span.icon-arrow-right-big {
    color: #FFFFFF !important;
    display: inline-block !important;
    font-size: 1em !important;
    top: 1px;
    position: relative;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
/*    max-width: 630px;*/
    min-width: 320px;
    height: 100%;
    z-index: 5000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.md-close {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    padding: 0.8em 1.4em 0.8em;
    text-align: left;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'signika_negativebold';
}

body.purple .md-close {
    background: #9930FF;
}

body.green .md-close {
    background: #5ED5A7;
}

body.blue .md-close {
    background: #4A96FF;
}

.md-close span {
    position: relative;
    top: 1px;
    left: 0;
}


/* Effect 12:  Just me */
.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

body.purple .md-show.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #570085), color-stop(45%, #450070), color-stop(100%, #320052));
    background-image: -webkit-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -moz-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: radial-gradient(farthest-side at right top, #570085 0%, #450070 45%, #320052 100%);
}

body.purple .md-show.modal-cans.md-effect-12 ~ .md-overlay {
    background: url(../img/purple-gang.png) no-repeat, #111;
    background-size: 80%;
    background-position: 50% 90%;
}

body.green .md-show.modal-cans.md-effect-12 ~ .md-overlay {
    background: url(../img/green-gang.png) no-repeat, #111;
    background-size: 80%;
    background-position: 50% 90%;
}

body.purple .md-show.modal-tag.md-effect-12 ~ .md-overlay {
    background: url(../img/purplespray.png) no-repeat center, #111;
}

body.green .md-show.modal-tag.md-effect-12 ~ .md-overlay {
    background: url(../img/greenspray.png) no-repeat center, #111;
}


body.green .md-show.md-effect-12 ~ .md-overlay {
    background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 507, color-stop(0%, rgb(30, 236, 210)), color-stop(56.4356%, #00948a), color-stop(100%, #1affb1));
    background-image: -webkit-radial-gradient(left top, farthest-corner circle, #24ffe1 -12%, #00948a 57%, #1affb1 101%);
    background-image: -moz-radial-gradient(left top, farthest-corner circle, #24ffe1 -12%, #00948a 57%, #1affb1 101%);
    background-image: -ms-radial-gradient(left top, farthest-corner circle, #24ffe1 -12%, #00948a 57%, #1affb1 101%);
    background-image: -o-radial-gradient(left top, farthest-corner circle, #24ffe1 -12%, #00948a 57%, #1affb1 101%);
    background-image: radial-gradient(farthest-corner circle at left top, #24ffe1 -12%, #00948a 57%, #1affb1 101%);
}

body.blue .md-show.md-effect-12 ~ .md-overlay {
background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #0055bd), color-stop(45%, #00398f), color-stop(100%, #002152));
background-image: -webkit-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
background-image: -moz-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
background-image: -ms-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
background-image: -o-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
background-image: radial-gradient(farthest-side at right top, #0055bd 0%, #00398f 45%, #002152 100%);
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

ul.members-list, ul.members-time-list {
    margin-top: 40px;
    position: relative;
    left: -20px
}

ul.members-list li, ul.members-time-list li {
    font-size: .8em;
    list-style: none;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}

ul.members-list li:nth-child(odd), ul.members-time-list li:nth-child(odd) {
    background: rgba(0,0,0,.08);
}

span.member-time {
    width: 70px;
    font-family: 'signika_negativebold';
    display: inline-block;
    font-size: 1.4em;
}

ul.members-list span {
    margin-right: 5px;
}

span.icon-arrow-right-small {
    position: relative;
    top: 2px;
}

.tile {
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}

body.purple .tile {
    background: rgba(57, 1, 105, 0.2);
    box-shadow: inset 0 0 1px rgba(35, 0, 45,.9);
}

body.blue .tile {
    background: rgba(0, 50, 96, 0.3);
    box-shadow: inset 0 0 1px rgba(0, 0, 0,.2);
}

body.green .tile {
 
}

body.purple .tile:hover, body.purple .tile:focus {
    background: rgba(0, 0, 0,.4);
     -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
}

.tile span {
    margin: 0 2px;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    height: 100%
}

.modal-btn {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
}

body.purple #first {
    background: rgba(57, 1, 105, 0.4);
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    overflow: hidden;
}

body.purple #second {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

body.purple #third {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

body.purple #fourth {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

body.purple #fifth {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

body.purple #sixth {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

body.purple #seventh {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

body.blue #first {
    background: rgba(0, 50, 96, 0.5);
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    overflow: hidden;
}

body.blue #second {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

body.blue #third {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

body.blue #fourth {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

body.blue #fifth {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

body.blue #sixth {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

body.blue #seventh {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}









.col12 {
    width: 100%;
}

.col4 {
    width: 33.33%;
    margin: 0
}

.col6 {
    width: 50%
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    margin: 0 !important
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
    margin: 0 !important;
    padding: 0 !important;
}


h4.description {
    text-align: center;
    position: relative;
    top: 50px;
    margin-bottom: 40px;
}

h4.description span {
    display: block;
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
}


@media all and (min-width: 1024px) {

    i.small {
        font-size: 5em;
    }

    h2.gang-name {
        font-size: 4em;
    }

    h3.slogan {
        font-size: 2em;
        width: 60%;
        margin: 0 auto;
        top: -300px
    }

    h2.gang-info {
        font-size: 3em !important;
    }


    h2.gang-info.events{
        font-size: 3em !important;
    }

    i.icon-droplet {
        position: relative;
        top: -80px;
        text-align: left;
        font-size: 20em;
        opacity: .2
    }
}



