/*Styles for profile screen*/


body {
    height: 100%;
}

.container {
    height: 100%;
    padding-top: 60px;
}

body.purple {
    background: url(../img/blur_purple.jpg) no-repeat left;
    background-size: cover;
}

body.blue {
    background: url(../img/blur_blue.jpg) no-repeat right;
    background-size: cover;

}

body.green {
    background: url(../img/blur_green.jpg) no-repeat left;
    background-size: cover;
}

h1 {
    font-size: 1.7em;
    line-height: 0;
    text-transform: none;
    position: relative;
    position: relative;
    top: -5px;
}

h3.mood-title {
    font-size: .9em;
    color: #fff;
}

.profile-tiles h3 {
    font-family: 'signika_negativeregular';
    font-size: .8em;
    line-height: 0;
    color: #fff;
    margin-left: 10px;
}

body.purple .profile-tiles h3 {
    color: #9930FF;
}

body.blue .profile-tiles h3 {
    color: #4A96FF;
}

body.purple .profile-tiles h3 {
    color: #9930FF;
}

.profile-tiles p {
    font-size: 1.1em;
    line-height: 1em;
    text-align: right;
    font-family: 'signika_negativebold';
}

.profile-tiles h3.player-name {
    font-size: .8em;
    font-family: 'signika_negativelight';
    line-height: 0;
    color: #9930FF;
    margin-left: 10px;
}

.profile-tiles div {
    width: 33.33%;
    float: left;
    padding: 5px 20px 0;
    background: rgba(0,0,0,.3);
    box-shadow: 0 0 1px rgba(255,255,255,.1) inset;
    position: relative;
}

.profile-tiles div:nth-child(1) {
    width: 100%;
    padding-bottom: 20px
}

.profile-tiles div:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.profile-tiles div:nth-child(3) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.profile-tiles div:nth-child(4) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.profile-tiles div:nth-child(5) {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.profile-tiles div:nth-child(6) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.profile-tiles div:nth-child(7) {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.profile-tiles div:nth-child(1) p {
    padding-left: 110px;
    position: relative;
    top: -30px;
    text-align: left;
    font-size: .8em;
}

.profile-tiles i.info-icon {
    color: #fff;
    left: 0;
    top: 0;
    font-size: 1em;
    opacity: .8;
    padding: 10px;
    position: absolute;
}

body.purple .profile-tiles i.info-icon {
    color: #9930FF;
}

body.blue .profile-tiles i.info-icon {
    color: #4A96FF;
}

.profile-tiles div:nth-child(1) i.info-icon {
    font-size: 6em;
    top: 40px;
}

.profile-tiles i.icon-mood2 {
    font-size: 2em;
    color: #9930FF;
    position: relative;
    top: 5px;
    left: 70px;
}

.profile-tiles i.icon-mood2 {
    position: relative;
    display: block;
    font-size: 2em;
    color: #fff;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

body.purple .profile-tiles i.icon-mood2 {
    color: #9930FF;
}

body.blue .profile-tiles i.icon-mood2 {
    color: #4A96FF;
}

body.green .profile-tiles i.icon-mood2 {
    color: #9930FF;
}

p.mood {
    display: block;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}


@media all and (min-width: 1024px) {

    i.small {
        font-size: 5em;
    }

    h2.gang-name {
        font-size: 4em;
    }

    h3.mood {
        font-size: 2em;
    }

    span.info {
        font-size: 6em;
    }

    span.profile-icon {
        font-size: 3em;
    }

    i.icon-bullhorn {
        font-size: 3em;
    };
}
