/* Signup screen **************************/

html,
body {
    min-height: 100%;
    overflow: hidden;
}

body#signup {
    text-shadow: none;
    color: #fff;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: 'signika_negativelight';
}

body#signup.neutral {
/*
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(26%, #820fff), color-stop(62%, #2e91ff), color-stop(96%, #1afaff));
    background: -webkit-linear-gradient(right bottom, #820fff 26%, #2e91ff 62%, #1afaff 96%) fixed;
    background-image: -moz-linear-gradient(right bottom, #820fff 26%, #2e91ff 62%, #1afaff 96%);
    background-image: -ms-linear-gradient(right bottom, #820fff 26%, #2e91ff 62%, #1afaff 96%);
    background-image: -o-linear-gradient(right bottom, #820fff 26%, #2e91ff 62%, #1afaff 96%);
    background-image: linear-gradient(to left top, #820fff 26%, #2e91ff 62%, #1afaff 96%);
*/
    background: black;
}

body#signup.purple {
    background: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 470, color-stop(26%, #8138ff), color-stop(62%, #970aff), color-stop(96%, #8301df)) fixed;
    background: -webkit-radial-gradient(right top, farthest-corner circle, #8138ff 26%, #970aff 62%, #8301df 96%) fixed;
    background: -moz-radial-gradient(right top, farthest-corner circle, #8138ff 26%, #970aff 62%, #8301df 96%) fixed;
    background: -ms-radial-gradient(right top, farthest-corner circle, #8138ff 26%, #970aff 62%, #8301df 96%) fixed;
    background: -o-radial-gradient(right top, farthest-corner circle, #8138ff 26%, #970aff 62%, #8301df 96%) fixed;
    background: radial-gradient(farthest-corner circle at right top, #8138ff 26%, #970aff 62%, #8301df 96%) fixed;
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #570085), color-stop(45%, #450070), color-stop(100%, #320052));
    background: -webkit-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%) fixed;
    background-image: -moz-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #570085 0%, #450070 45%, #320052 100%);
    background-image: radial-gradient(farthest-side at right top, #570085 0%, #450070 45%, #320052 100%);
}

body#signup.blue {
    background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 680, color-stop(26%, #0092ff), color-stop(62%, #015bc6), color-stop(96%, #003175)) fixed;
    background: -webkit-radial-gradient(right bottom, farthest-corner circle, #0092ff 26%, #015bc6 62%, #003175 96%) fixed;
    background: -moz-radial-gradient(right bottom, farthest-corner circle, #0092ff 26%, #015bc6 62%, #003175 96%) fixed;
    background: -ms-radial-gradient(right bottom, farthest-corner circle, #0092ff 26%, #015bc6 62%, #003175 96%) fixed;
    background: -o-radial-gradient(right bottom, farthest-corner circle, #0092ff 26%, #015bc6 62%, #003175 96%) fixed;
    background: radial-gradient(farthest-corner circle at right bottom, #0092ff 26%, #015bc6 62%, #003175 96%) fixed;
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 227, color-stop(0%, #0055bd), color-stop(45%, #00398f), color-stop(100%, #002152));
    background: -webkit-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%) fixed;
    background-image: -moz-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #0055bd 0%, #00398f 45%, #002152 100%);
    background-image: radial-gradient(farthest-side at right top, #0055bd 0%, #00398f 45%, #002152 100%);
}

body#signup.green {
    background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 470, color-stop(26%, #38ffca), color-stop(62%, #01c6a7), color-stop(96%, #00f59b)) fixed;
    background: -webkit-radial-gradient(right bottom, farthest-corner circle, #38ffca 26%, #01c6a7 62%, #00f59b 96%) fixed;
    background: -moz-radial-gradient(right bottom, farthest-corner circle, #38ffca 26%, #01c6a7 62%, #00f59b 96%) fixed;
    background: -ms-radial-gradient(right bottom, farthest-corner circle, #38ffca 26%, #01c6a7 62%, #00f59b 96%) fixed;
    background: -o-radial-gradient(right bottom, farthest-corner circle, #38ffca 26%, #01c6a7 62%, #00f59b 96%) fixed;
    background: radial-gradient(farthest-corner circle at right bottom, #38ffca 26%, #01c6a7 62%, #00f59b 96%) fixed;
    background-image: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 536, color-stop(0%, #32eff5), color-stop(45%, #009699), color-stop(100%, #00706c));
    background: -webkit-radial-gradient(right top, farthest-side, #32eff5 0%, #009699 45%, #00706c 100%) fixed;
    background-image: -moz-radial-gradient(right top, farthest-side, #32eff5 0%, #009699 45%, #00706c 100%);
    background-image: -ms-radial-gradient(right top, farthest-side, #32eff5 0%, #009699 45%, #00706c 100%);
    background-image: -o-radial-gradient(right top, farthest-side, #32eff5 0%, #009699 45%, #00706c 100%);
    background-image: radial-gradient(farthest-side at right top, #32eff5 0%, #009699 45%, #00706c 100%);
}
body#signup.gray {
    background: #8ae2af; /* Old browsers */
    background: -moz-linear-gradient(top, #8ae2af 25%, #82998f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#8ae2af), color-stop(100%,#82998f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8ae2af 25%,#82998f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8ae2af 25%,#82998f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8ae2af 25%,#82998f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8ae2af 25%,#82998f 100%); /* W3C */
}
body#signup .header {
    margin: 2em 0;
    text-align: center;
}

body#signup.purple h1, body#signup.blue h1,  body#signup.green h1 {
    color: #fff;
}

.back {
    background: rgba(0,0,0,.1);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 0.6em 1em;
    text-align: center;
    position: absolute;
    font-family: 'signika_negativebold';
    top: 0;
    left: 0;
    z-index: 1000;
}

.back i {
    position: relative;
    top: 2px;
}

.form {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

button#trigger-overlay {
    border: none;
    outline: none;
    position: relative;
    color: #fff;
    line-height: 2.7em;
    background: rgba(0,0,0,.2);
    top: -33px;
    right: -2px;
    float: right;
    z-index: 6000;
    -webkit-animation-delay: .5s;
}

button#trigger-overlay2 {
    border: none;
    outline: none;
    position: relative;
    color: #fff;
    line-height: 2.7em;
    background: rgba(0,0,0,.2);
    top: -33px;
    right: -2px;
    float: right;
    z-index: 6000;
    -webkit-animation-delay: .5s;
}

input {
    width: 100%;
    margin-bottom: 1px;
    border: none;
    border-radius: none;
    padding: 7px 0 7px 20px;
    color: #fff;
    font-family: 'signika_negativesemibold';
    background: rgba(0,0,0,.2);
    font-size: .8em;
}

body.purple input {
    color: #8138ff;
    background: rgba(0,0,0,.2);
}

body.green input {
    color: #38ffca;
    background: rgba(0,0,0,.2);
}

body.blue input {
    color: #0d73f1;
    background: rgba(0,0,0,.2);
}
body.gray input {
    color: #91C1B4;
    background: rgba(0,0,0,.2);
}
input:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

input:nth-child(3) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

input:nth-child(4) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

input:focus {
    background: rgba(0,0,0,.5);
    outline: none;
}

::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

body.purple ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

body.green ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

body.blue ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
body.gray ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
 /* Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
    opacity: 1;
}

select {
    color: #fff;
    font-size: .8em;
    font-family: 'signika_negativesemibold';
    width: 100%;
    background: rgba(0,0,0,.2);
    padding: 7px 0 7px 20px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

body.purple select {
    color: #8138ff;
    background: rgba(0,0,0,.2);
}

body.green select {
    color: #38ffca;
    background: rgba(0,0,0,.2);
}

body.blue select {
    color: #0d73f1;
    background: rgba(0,0,0,.2);
}
body.gray select {
    color: #91C1B4;
    background: rgba(0,0,0,.2);
}

option {
    background: #000;
}

.btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 3000;
    border-radius: none;
    cursor: pointer;
    font-size: .8em;
    font-family: 'signika_negativebold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0,0,0,.2);
    padding: 14px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

body.purple .btn {
    color: #8138ff;
}

body.green .btn {
    color: #38ffca;
}

body.blue .btn {
    color: #0d73f1;
}

body.gray .btn {
    color: #91C1B4;
}

.btn:active {
    background: rgba(0,0,0,.5);
}

span {
    position: relative;
    top: 3px;
    left: 10px;
}

span.icon-question {
    left: 0;
    font-size: 1.5em;
}

i.icon-droplet {
    position: absolute;
    font-size: 2em;
    opacity: 1;
    left: 10px;
    top: 40px;
    z-index: 0;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.tile {
    height: 25%;
    background: rgba(0,0,0,.7);
    padding: 10px 10px 10px 60px;
    overflow: hidden;
    text-align: left;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.tile:nth-child(1) {
    padding-top: 40px;
    height: 28%;
}

.tile p {
    position: relative;
    font-size: 11px;
    z-index: 1;
    top: 5px;
}

.tile h2 {
    font-size: 1.2em;
    font-family: 'signika_negativeregular';
    line-height: 0;
    position: relative;
    text-transform: uppercase;
    letter-spacing: -.05em;
    left: 0;
}

.tile.purple-knights {
    color: #C06CFF;
}

.tile.blue-angels {
    color: #1c6adc;
}

.tile.green-shamans {
    color: #58FFB4;
}

.tile.gray-grays {
    color: #F4F7F6;
}

.tile.purple-knights {
    border-left: 3px solid #C06CFF;
}

.tile.blue-angels {
    border-left: 3px solid #1c6adc;
}

.tile.green-shamans {
    border-left: 3px solid #58FFB4;
}
.tile.gray-grays {
    border-left: 3px solid #F4F7F6;
}
.tile.purple-knights i.icon-droplet {
    color: #C06CFF;
    top: 70px;
}

.tile.blue-angels i.icon-droplet {
    color: #1c6adc;
}

.tile.green-shamans i.icon-droplet {
    color: #58FFB4;
}
.tile.gray-grays i.icon-droplet {
    color: #F4F7F6;
}

small {
    width: 60%;
    display: block;
    margin: 40px auto 0;
}

.visible {
    display: block;
}

.hide {
    display: none;
}

.icon-ccw {
    position: relative;
    top: 2px;
    left: 5px;
    font-size: 1.3em;
}

.icon-remove {
    margin-right: 5px;
}



/* Overlay style */
.overlay, .overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
}

/* Overlay closing cross */
.overlay .overlay-close, .overlay2 .overlay-close {
    padding: 10px 20px 10px 25px;
    position: absolute;
    right: -2px;
    top: -2px;
    background: rgba(0,0,0,.2);
    overflow: hidden;
    border: none;
    color: white;
    outline: none;
    z-index: 100;
}


/* Effects */
html, body {
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.container.overlay-open {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.container::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-contentpush {
/*
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #8f29ff), color-stop(100%, rgb(34, 236, 255)));
    background-image: -webkit-linear-gradient(top, #8f29ff 30%, #1afaff 105%);
    background-image: -moz-linear-gradient(top, #8f29ff 30%, #1afaff 105%);
    background-image: -ms-linear-gradient(top, #8f29ff 30%, #1afaff 105%);
    background-image: -o-linear-gradient(top, #8f29ff 30%, #1afaff 105%);
    background-image: linear-gradient(to bottom, #8f29ff 30%, #1afaff 105%);
*/
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay2.overlay-contentpush {
    background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #FF502D), color-stop(25%, #EB5600), color-stop(83%, #D62B00));
    background-image: -webkit-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -moz-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -ms-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: -o-linear-gradient(bottom, #FF502D 0%, #EB5600 25%, #D62B00 83%);
    background-image: linear-gradient(to top, #FF502D 0%, #EB5600 25%, #D62B00 83%);
}

.overlay2.overlay-contentpush h2 {
    font-size: 1.8em;
    padding-bottom: 20px;
}

.overlay2.overlay-contentpush p {
    padding-left: 20px;
    font-size: .9em;
    position: relative;
    top: -20px;
}

.overlay-contentpush.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

section.alert-content {
    text-align: left;
    padding: 60px 40px;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }

    .overlay ul li {
        min-height: 34px;
    };
}