/* Register screen **************************/

html {
    height: 100%
}

body#signup {
    text-shadow: none;
    color:#fff;
    margin: 0;
    font-family: "Lato";
}

body#signup.neutral{
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #6d085b), color-stop(50%, #4e59df), color-stop(100%, #4feea6));
    background-image: -webkit-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -moz-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -ms-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: -o-linear-gradient(right bottom, #6d085b 0%, #4e59df 50%, #4feea6 100%);
    background-image: linear-gradient(to left top, #6d085b 0%, #4e59df 50%, #4feea6 100%);
}
    /*Purple background*/
body#signup.purple{
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(25%, #b80068), color-stop(100%, #990157));
    background-image: -webkit-radial-gradient(center bottom, farthest-side circle, #b80068 25%, #990157 100%);
    background-image: -moz-radial-gradient(center bottom, farthest-side circle, #b80068 25%, #990157 100%);
    background-image: -ms-radial-gradient(center bottom, farthest-side circle, #b80068 25%, #990157 100%);
    background-image: -o-radial-gradient(center bottom, farthest-side circle, #b80068 25%, #990157 100%);
    background-image: radial-gradient(farthest-side circle at center bottom, #b80068 25%, #990157 100%);*/
}
    /*Blue background*/
body#signup.blue{
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(25%, #5BECFF), color-stop(100%, #4DBBFF));
    background-image: -webkit-radial-gradient(center bottom, farthest-side circle, #5BECFF 25%, #4DBBFF 100%);
    background-image: -moz-radial-gradient(center bottom, farthest-side circle, #5BECFF 25%, #4DBBFF 100%);
    background-image: -ms-radial-gradient(center bottom, farthest-side circle, #5BECFF 25%, #4DBBFF 100%);
    background-image: -o-radial-gradient(center bottom, farthest-side circle, #5BECFF 25%, #4DBBFF 100%);
    background-image: radial-gradient(farthest-side circle at center bottom, #5BECFF 25%, #4DBBFF 100%);
}
    /*Green background*/
body#signup.green{
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(15%, #ABFFE2), color-stop(100%, #54CC9A));
    background-image: -webkit-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: -moz-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: -ms-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: -o-radial-gradient(center bottom, farthest-side circle, #ABFFE2 25%, #54CC9A 100%);
    background-image: radial-gradient(circle farthest-side at center bottom , #ABFFE2 25%, #54CC9A 100%);
}

body#signup .header {
    margin: 3em 0;
    text-align: center;
}

.form {
    position: relative;
    width: 100%;
    margin: 50px auto;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

input  {
    width: 100%;
    margin-bottom: 1px;
    border: none;
    border-radius: none;
    padding: 15px 0 15px 20px;
    color: #fff;
    background:rgba(0,0,0,.4);
    border-left: 5px solid rgba(0,0,0,.1)
}
input:focus {
    background:rgba(0,0,0,.4);
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 1
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 1
}
:-ms-input-placeholder {
    color: white;
    opacity: 1
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
    opacity: 1
}

select {
    color: #fff;
    width: 100%;
    -webkit-appearance: none;
    background:rgba(0,0,0,.4);
    padding: 15px 0 15px 20px;
    border: none;
    border-radius: 0;
    border-left: 5px solid rgba(0,0,0,.1)
}

option {
    background:#000;
}

.btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    border-radius: none;
    box-shadow: 0 -10px 0 rgba(0,0,0,.1), 0 -3px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.1);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background:rgba(0,0,0,.2);
    padding: 20px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .5s;
    -moz-animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: 1;
}
.btn:active {
    background:rgba(0,0,0,.5);
}

span {
    position: relative;
    top: 3px;
    left: 10px
}
