/*Styles for splash screen*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/blur.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 1.3em;
    color: #fff;
}

.logo {
    position: relative;
    top: 60px;
    line-height: 0;
    text-align: center;
    color: rgba(255,255,255,.9);
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    font-size: 1em;
    -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(21%, transparent), to(rgba(255,255,255,0.3)));
}

img.tm {
    height: auto;
    width: 50%;
    margin: 0 auto;
    -webkit-transform: rotate(-180deg);
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

p.brand {
    position: relative;
    top: -20px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

span.art {
    font-family: 'mrs_sheppardsregular';
    font-size: 2em;
    text-transform: none;
}

.gangs {
    margin-left: 5px;
}

p#version {
    color: rgba(255,255,255,.8);
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    position: block;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

nav a {
    line-height: 4em;
    width: 40%;
    font-size: .7em;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    color: #fff !important;
    background: rgba(0, 0, 0, .1);
    font-family: 'signika_negativebold', sans-serif;
    letter-spacing: 1px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

nav a:first-child {
    width: 20%;
}

nav a:nth-child(2) {
    background: rgba(0, 0, 0, .15);
}

nav a:nth-child(3) {
    background: rgba(0, 0, 0, .18);
}

nav a:focus, nav a:active {
    background: rgba(95, 136, 255, 1);
}

span {
    position: relative;
    top: 1px;
}

.icon-info {
    font-size: 2em;
    position: relative;
    top: 7px;
}

#tag {
    font-size: .6em;
}


/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
    padding: 10px 20px 10px 25px;
    position: absolute;
    right: -2px;
    top: -2px;
    background: rgba(0,0,0,.2);
    overflow: hidden;
    border: none;
    color: white;
    outline: none;
    z-index: 100;
}


/* Effects */
html, body {
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.container.overlay-open {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.container::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-contentpush {
    background: -moz-linear-gradient(top,  #89ffd2 0%, #30b4f2 49%, #8331f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89ffd2), color-stop(49%,#30b4f2), color-stop(100%,#8331f7));
    background: -webkit-linear-gradient(top,  #89ffd2 0%,#30b4f2 49%,#8331f7 100%);
    background: -o-linear-gradient(top,  #89ffd2 0%,#30b4f2 49%,#8331f7 100%);
    background: -ms-linear-gradient(top,  #89ffd2 0%,#30b4f2 49%,#8331f7 100%);
    background: linear-gradient(to bottom,  #89ffd2 0%,#30b4f2 49%,#8331f7 100%);
    background-attachment: fixed;
    text-align: center;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush h1 {
    font-size: 2em;
    margin-top: 80px;
    color: #000;
}

.overlay-contentpush h2 {
    font-size: 1.4em;
    padding: 0 40px;
    color: #000;
}

.overlay-contentpush p {
    font-size: .9em;
    color: #000;
    padding: 0 40px;
}

.overlay-contentpush.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

section.alert-content {
    text-align: left;
    padding: 60px 40px;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }

    .overlay ul li {
        min-height: 34px;
    };
}

@media all and (min-width: 1280px) {
    .logo {
        font-size: 2em;
    }

    p.brand {
        position: relative;
        z-index: 10;
        top: -120px;
    }

    img {
        padding: 20px;
        max-width: 1000px;
    }

    .overlay {
        padding-top: 100px;
        color: white;
    };
}
