/*Styles for splash screen*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    background: url(../img/bg_neutral.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 1.4em;
}

.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -150px;
    margin-top: -110px;
    line-height: 0;
    font-weight: normal;
    text-align: center;
    color: #FEEFBE;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    font-size: 1.1em;
}

p.brand {
    position: relative;
    z-index: 10;
    top: 90px;
}

span.art {
    font-family: 'mrs_sheppardsregular';
    font-size: 2em;
    text-transform: none;
    color: #FEEFBE
}

.gangs {
    margin-left: 5px;
}

p#credit {
    display: none;
    text-transform: none;
    font-size: .6em;
    font-weight: 900;
    position: relative;
    left: 0;
    top: -25px;
    color: rgba(255,255,255,.7);
}

p#version {
    text-transform: none;
    font-size: .9em;
    font-weight: 400;
    position: relative;
    left: 0;
    top: 100px;
    color: rgba(255,255,255,.5);
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    position: block;
}

nav a {
    line-height: 5em;
    width: 40%;
    font-size: .7em;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    color: #fff !important;
    background: rgba(0, 0, 0, .1);
    font-family: 'signika_negativebold', sans-serif;
    letter-spacing: 1px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

nav a:first-child {
    width: 20%;
}

nav a:nth-child(2) {
    background: rgba(0, 0, 0, .3);
}

nav a:nth-child(3) {
    background: rgba(0, 0, 0, .35);
}

nav a:focus, nav a:active {
    background: rgba(95, 136, 255, 1);
}

span {
    position: relative;
    top: 1px;
}

.icon-info {
    font-size: 2em;
    position: relative;
    top: 7px;
}

img {
    height: auto;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -60px;
    z-index: 0;
    opacity: 1;
    -webkit-animation-delay: 2.2s;
}

.md-modal {
    height: auto;
    min-width: 320px;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 5000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #000;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    padding: 4em;
}

.help .md-content {
    padding-top: 60px;
}

.about-text {
    display: inline-block;
    position: relative;
}

.help .md-content > div p {
    margin: 0 auto;
    padding: 5px 0;
    font-size: .8em;
}

.icon-locked {
    position: relative;
    display: inline-block;
    margin-top: 70px;
    font-size: 3em;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    background: rgba(0,0,0,.1);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: .5em 1.2em;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.help.md-effect-12 ~ .md-overlay {
    background: url(../img/bg_neutral.jpg) no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

#tag {
    font-size: .6em;
}

@media all and (min-width: 1024px) {
    .logo {
        top: 40%;
        font-size: 3em;
        width: 600px;
        margin-left: -300px;
    }

    img {
        top: -155px;
    }

    p#credit {
        font-size: .4em;
        top: -55px;
    }

    p#version {
        font-size: .3em;
        top: 20px;
    };
}