/*Styles for splash screen*/

body {
    min-height: 100%;
    overflow: hidden;
    background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 588, color-stop(10%, #2effd9), color-stop(43%, #427cff), color-stop(78%, #7500e6)) fixed;
    background: -webkit-radial-gradient(center bottom, farthest-corner circle, #2effd9 10%, #427cff 43%, #7500e6 78%) fixed;
    background: -moz-radial-gradient(center bottom, farthest-corner circle, #2effd9 10%, #427cff 43%, #7500e6 78%) fixed;
    background: -ms-radial-gradient(center bottom, farthest-corner circle, #2effd9 10%, #427cff 43%, #7500e6 78%) fixed;
    background: -o-radial-gradient(center bottom, farthest-corner circle, #2effd9 10%, #427cff 43%, #7500e6 78%) fixed;
    background: radial-gradient(farthest-corner circle at center bottom, #2effd9 10%, #427cff 43%, #7500e6 78%) fixed;
}

.rotate {
    height: 100%;
}

.logo {
    line-height: 0;
    font-weight: normal;
    text-align: center;
    font-family: "Raleway";
    position: relative;
    color: rgba(255,255,255,.5);
    top: 160px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

span.art {
    font-family: "Mrs Sheppards";
    font-size: 2em;
    text-transform: none;
    color: rgba(255,255,255,.7);
    text-shadow: -3px -4px 2px rgba(0,0,0,.1), -10px -10px 8px rgba(0,0,0,.1), -40px -20px 14px rgba(0,0,0,.04);
}

p#slogan {
    text-transform: none;
    font-size: .3em;
    letter-spacing: .6em;
    font-family: "Lato";
    font-weight: 900;
/*   display: none;*/;
}

p#slogan span {
    color: rgba(255,255,255,.6);
}

p#slogan2 {
    text-transform: none;
    font-size: .6em;
    letter-spacing: .2em;
    font-family: "Raleway";
    font-weight: 900;
    display: none;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a {
    line-height: 3em;
    width: 100%;
    display: inline-block;
    padding: 0 14px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .1);
    font-weight: 700;
    letter-spacing: 1px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

nav a:first-child {
    border-bottom: 1px solid rgba(255,255,255,.1);
}

nav a:focus, nav a:active {
    background: rgba(95, 136, 255, 1);
}

span {
    position: relative;
    top: 1px;
}

.hole {
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 2;
    opacity: .8;
/*   -webkit-filter: blur(1px); */;
}

i {
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    left: -125px;
    top: -70px;
    border-radius: 250px;
    opacity: 0;
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: scale;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

i:nth-child(1) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

i:nth-child(2) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

i:nth-child(3) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

i:nth-child(4) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

i:nth-child(5) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

i:nth-child(6) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

i:nth-child(7) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

i:nth-child(8) {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

i:nth-child(9) {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}

i:nth-child(10) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(2);
        opacity: 0;
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
    }

    50% {
        -webkit-transform: scale(1) translate(0px, -5px);
        opacity: 1;
        box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
    }

    100% {
        -webkit-transform: scale(0.1) translate(0px, 5px);
        opacity: 0;
        box-shadow: 0px 10px 20px rgba(255, 255, 255, 0);
    };
}

@keyframes scale {
    0% {
        transform: scale(2);
        opacity: 0;
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
    }

    50% {
        transform: scale(1) translate(0px, -5px);
        opacity: 1;
        box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
    }

    100% {
        transform: scale(0.1) translate(0px, 5px);
        opacity: 0;
        box-shadow: 0px 10px 20px rgba(255, 255, 255, 0);
    };
}

