.content {
    width: 100%;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    position: relative;
    top: 40px
  }

.switch-toggle a, .switch-light span span {
    display: none;
}
@media only screen {
.switch-light {
    display: block;
    height: 30px;
    margin-left: 100px;
    overflow: visible;
    padding: 0;
    position: relative;
}
.switch-light * {
    -moz-box-sizing: border-box;
}
.switch-light a {
    display: block;
    transition: all 0.3s ease-out 0s;
}
.switch-light label, .switch-light > span {
    line-height: 30px;
    vertical-align: middle;
}
.switch-light input:focus ~ a, .switch-light input:focus + label {
    outline: 1px dotted #888888;
}
.switch-light label {
    display: block;
    position: relative;
    width: 100%;
    z-index: 3;
}
.switch-light input {
    opacity: 0;
    position: absolute;
    z-index: 5;
}
.switch-light input:checked ~ a {
    right: 0;
}
.switch-light > span {
    left: -100px;
    margin: 0;
    padding-right: 100px;
    position: absolute;
    text-align: left;
    width: 100%;
}
.switch-light > span span {
    display: block;
    left: 0;
    margin-left: 100px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
    z-index: 5;
}
.switch-light > span span:last-child {
    left: 50%;
}
.switch-light a {
    display: block;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 50%;
    top: 0;
    width: 50%;
    z-index: 4;
}
.switch-toggle {
    display: block;
    height: 30px;
    padding: 0 !important;
    position: relative;
}
.switch-toggle * {
    -moz-box-sizing: border-box;
}
.switch-toggle a {
    display: block;
    transition: all 0.3s ease-out 0s;
}
.switch-toggle label, .switch-toggle > span {
    line-height: 30px;
    vertical-align: middle;
}
.switch-toggle input:focus ~ a, .switch-toggle input:focus + label {
    outline: 1px dotted #888888;
}
.switch-toggle input {
    opacity: 0;
    position: absolute;
}
.switch-toggle label {
    float: left;
    height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 2;
}
.switch-toggle a {
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
}
.switch-toggle input:last-of-type:checked ~ a {
    left: 50%;
}
.switch-toggle.switch-3 label, .switch-toggle.switch-3 a {
    width: 33.3333%;
}
.switch-toggle.switch-3 input:checked:nth-of-type(2) ~ a {
    left: 33.3333%;
}
.switch-toggle.switch-3 input:checked:last-of-type ~ a {
    left: 66.6667%;
}
.switch-toggle.switch-4 label, .switch-toggle.switch-4 a {
    width: 25%;
}
.switch-toggle.switch-4 input:checked:nth-of-type(2) ~ a {
    left: 25%;
}
.switch-toggle.switch-4 input:checked:nth-of-type(3) ~ a {
    left: 50%;
}
.switch-toggle.switch-4 input:checked:last-of-type ~ a {
    left: 75%;
}
.switch-toggle.switch-5 label, .switch-toggle.switch-5 a {
    width: 20%;
}
.switch-toggle.switch-5 input:checked:nth-of-type(2) ~ a {
    left: 20%;
}
.switch-toggle.switch-5 input:checked:nth-of-type(3) ~ a {
    left: 40%;
}
.switch-toggle.switch-5 input:checked:nth-of-type(4) ~ a {
    left: 60%;
}
.switch-toggle.switch-5 input:checked:last-of-type ~ a {
    left: 80%;
}
.switch-candy {
    background-color: #2D3035;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191B1E;
}
.switch-candy label {
    color: #FFFFFF;
    transition: color 0.2s ease-out 0s;
}
.switch-candy input:checked + label {
    color: #333333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.switch-candy a {
    background-color: #70C66B;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    border: 1px solid #333333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.45) inset;
}
.switch-candy > span {
    color: #333333;
    text-shadow: none;
}
.switch-candy span {
    color: #FFFFFF;
}
.switch-candy.switch-candy-blue a {
    background-color: #38A3D4;
}
.switch-candy.switch-candy-yellow a {
    background-color: #F5E560;
}
.switch-android {
    background-color: #464747;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
}
.switch-android label {
    color: #FFFFFF;
}
.switch-android > span span {
    opacity: 0;
    transition: all 0.1s ease 0s;
}
.switch-android > span span:first-of-type {
    opacity: 1;
}
.switch-android a {
    background-color: #666666;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset;
}
.switch-android.switch-light input:checked ~ a {
    background-color: #0E88B1;
}
.switch-android.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
}
.switch-android.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
}
.switch-android.switch-toggle, .switch-android > span span {
    font-size: 85%;
    text-transform: uppercase;
}
.switch-ios.switch-light {
    color: #868686;
}
.switch-ios.switch-light a {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 100% 100% 100% 100%;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.024) inset, 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
    left: 0;
    transition: all 0.3s ease-out 0s;
    width: 30px;
}
.switch-ios.switch-light > span span {
    left: 0;
    opacity: 0;
    width: 100%;
}
.switch-ios.switch-light > span span:first-of-type {
    opacity: 1;
    padding-left: 30px;
}
.switch-ios.switch-light > span span:last-of-type {
    padding-right: 30px;
}
.switch-ios.switch-light > span:before {
    background-color: #FAFAFA;
    border: 1px solid #D3D3D3;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    content: "";
    display: block;
    height: 100%;
    left: 100px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-out 0s;
    width: 100%;
}
.switch-ios.switch-light input:checked ~ a {
    left: 100%;
    margin-left: -30px;
}
.switch-ios.switch-light input:checked ~ span:before {
    border-color: #53D76A;
    box-shadow: 0 0 0 30px #53D76A inset;
}
.switch-ios.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
}
.switch-ios.switch-light input:checked ~ span span:last-of-type {
    color: #FFFFFF;
    opacity: 1;
}
.switch-ios.switch-toggle {
    background-color: #FAFAFA;
    border: 1px solid #D3D3D3;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
}
.switch-ios.switch-toggle a {
    background-color: #53D76A;
    border-radius: 25px 25px 25px 25px;
    transition: all 0.3s ease-out 0s;
}
.switch-ios.switch-toggle label {
    color: #868686;
}
.switch-ios input:checked + label {
    color: #3A3A3A;
}
}
@media not all {
.switch-light, .switch-toggle {
}
}