/*Styles for tweaks screen*/

html,
body {
    min-height: 100%;
}

body.blue {
    background: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #42b1ff), color-stop(100%, #60BDFF)) fixed;
    background: -webkit-linear-gradient(bottom, #42b1ff 0%, #60BDFF 100%) fixed;
    background: -moz-linear-gradient(bottom, #42b1ff 0%, #60BDFF 100%) fixed;
    background: -ms-linear-gradient(bottom, #42b1ff 0%, #60BDFF 100%) fixed;
    background: -o-linear-gradient(bottom, #42b1ff 0%, #60BDFF 100%) fixed;
    background: linear-gradient(to top, #42b1ff 0%, #60BDFF 100%) fixed;
}

body.purple {
    background: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #3c0c6a), color-stop(100%, #21002F)) fixed;
    background: -webkit-linear-gradient(bottom, #3c0c6a 0%, #57008A 100%) fixed;
    background: -moz-linear-gradient(bottom, #3c0c6a 0%, #21002F 100%) fixed;
    background: -ms-linear-gradient(bottom, #3c0c6a 0%, #21002F 100%) fixed;
    background: -o-linear-gradient(bottom, #3c0c6a 0%, #21002F 100%) fixed;
    background: linear-gradient(to top, #3c0c6a 0%, #21002F 100%) fixed;
}

body.green {
    background: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #4EB389), color-stop(100%, #6CE8B5)) fixed;
    background: -webkit-linear-gradient(bottom, #4EB389 0%, #6CE8B5 100%) fixed;
    background: -moz-linear-gradient(bottom, #4EB389 0%, #6CE8B5 100%) fixed;
    background: -ms-linear-gradient(bottom, #4EB389 0%, #6CE8B5 100%) fixed;
    background: -o-linear-gradient(bottom, #4EB389 0%, #6CE8B5 100%) fixed;
    background: linear-gradient(to top, #4EB389 0%, #6CE8B5 100%) fixed;
}

.content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

.tweak {
    position: relative;
    margin-bottom: 20px;
}

div.option {
    position: relative;
    text-align: left;
    color: #fff;
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "Raleway"
}

input {
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: .9em;
    padding: 8px 8px 8px 20px;
    border-radius: 0;
    -webkit-appearance: none;
}

body.blue input {
    background: #4BB4FF;
    border: 1px solid #39A4EF;
}

body.purple input {
    background: rgba(0,0,0,.3);
    border: 1px solid #330054;
}

body.green input {
    background: rgba(0,0,0,.08);
    border: 1px solid #3FB48F;
}

input:focus {
    background: #111;
    color: #fff
}

::-webkit-input-placeholder {
    color: white;
    opacity: .7;
}

::-moz-placeholder {
 /* Firefox 19+ */
    color: white;
    opacity: .3;
}

:-ms-input-placeholder {
    color: white;
    opacity:.3;
}

:-moz-placeholder {
 /* Firefox 18- */
    color: white;
    opacity: .3;
}

.btn2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,255,255, .1);
    padding: 10px;
    display: block;
    position: absolute;
    top: -40px;
    right: 20px;
    text-align: center;
    margin: 0;
    box-shadow: 0 2px 1px rgba(0,0,0,.1);
}

.button {
    position: relative;
    top: 20px;
    width: 100%;
    height: auto;
    border-radius: none;
    cursor: pointer;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    color: white;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

body.purple .button {
    background: #57008a;
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

body.blue .button {
    background: #36C0FF;
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

body.green .button {
    background: #40D5A6;
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.button:active, .button:focus {
    box-shadow: none
}

.button.logout {
    top: 0;
    margin-bottom: 50px
}

.btn:active {
    background: rgba(0,0,0,.5);
}

li {
    list-style: none;
}

i {
    position: relative;
    top: 2px;
}

i.icon-check {
    position: relative;
    top: 2px;
    left: 10px
}

.confirm {
    top: 20px;
    left: -16px;
    margin-bottom: 40px !important;
    position: relative;
}

.tweak-section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 0 50px;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 5000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-modal p {
    font-size: 1.6em;
    font-family: "Raleway"
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    background: #e74c3c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    background: #e74c3c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay2 {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    background: #e74c3c;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 400;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 400;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
    background: #C0392B;
    border: medium none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 3px auto;
    padding: 0.6em 1.2em;
    text-transform: uppercase;
}


/* Effect 12:  Just me */
.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
    background: #e74c3c;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 5: fall */
.md-effect-5.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-5 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(600px) rotateX(20deg);
    -moz-transform: translateZ(600px) rotateX(20deg);
    -ms-transform: translateZ(600px) rotateX(20deg);
    transform: translateZ(600px) rotateX(20deg);
    opacity: 0;
}

.md-show.md-effect-5 .md-content {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: translateZ(0px) rotateX(0deg);
    -moz-transform: translateZ(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
    opacity: 1;
}


