/*Styles for tweaks screen*/

html,
body {
    height: 100%;
}

body.purple {
    background: url(../img/purple.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

body.blue {
    background: url(../img/blue.jpg) no-repeat left;
    background-size: cover;
	background-attachment: fixed;
}

body.green {
    background: url(../img/green.jpg) no-repeat left;
    background-size: cover;
	background-attachment: fixed;
}

body.blue .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/blue.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurblue 1 ease 2s;
      z-index: 1;
}

body.purple .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/purple.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurblue 1 ease 2s;
      z-index: 1;
}

body.green .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/green.jpg) no-repeat left;
    background-position: 0px 0px;
    opacity: 0;
    background-size: stretch;
   -webkit-animation: blurgreen 1 ease 2s;
      z-index: 1;
}

@-webkit-keyframes blurblue { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

@-webkit-keyframes blurpurple { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

@-webkit-keyframes blurgreen { 
   50% {
    background-position: 100% 100%;
    opacity: .9;
    }
}

.content:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent rgba(0, 0, 0,.4); 
}

.content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 60px;
    padding: 20px;
    border-radius: 4px;
     background: rgba(0, 0, 0, 0.4);
     z-index: 10
}

.tweak {
    position: relative;
    margin-bottom: 15px;
}

div.option {
    position: relative;
    text-align: left;
    color: #fff;
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 10px;
    padding-left: 20px;
}

div.option i {
    font-size: .8em;
    margin-right: 10px;
    color: #fff;
}

input {
    width: 100%;
    color: #fff;
    font-weight: 400;
    font-size: .9em;
    padding: 12px 8px 12px 20px;
    border-radius: 0;
    -webkit-appearance: none;
}

input {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

input:focus {
    background: #111;
    color: #fff
}

::-webkit-input-placeholder {
    color: white;
}

::-moz-placeholder {
 /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

:-moz-placeholder {
 /* Firefox 18- */
    color: white;
}

.btn2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,255,255, .1);
    padding: 10px;
    display: block;
    position: absolute;
    top: -40px;
    right: 20px;
    text-align: center;
    margin: 0;
}

.button {
    position: relative;
    top: 20px;
    width: 100%;
    height: auto;
    border-radius: none;
    font-family: 'signika_negativebold';
    font-size: .7em;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    color: white;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(21%, transparent), to(rgba(255,255,255,0.4)));
}

body.purple .button {
 	background: rgba(162,50,255,0.4);
}

body.blue .button {
 	background: rgba(36,98,255,0.1);
}

body.green .button {
 	background: rgba(36,255,241,0.3);
}
.button#save {
    top: -15px;
}

.button:active, .button:focus {
    box-shadow: none
}

.button.logout {
    top: 0;
}

.btn:active {
    background: rgba(0,0,0,.5);
}

li {
    list-style: none;
}

i {
    position: relative;
    top: 2px;
}

i.icon-check {
    position: relative;
    top: 2px;
    left: 10px
}

.tweak-section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-modal p {
    font-size: 1.6em;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: #e74c3c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 4500;
    opacity: 0;
    background: #e74c3c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay2 {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    background: #e74c3c;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 400;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 400;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    background: #C0392B;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    margin: 20px auto;
    padding: 0.6em 1.2em;
    text-align: center;
}

span {
    font-family: 'signika_negativebold';
}


/* Effect 12:  Just me */
.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
    background: #e74c3c;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 5: fall */
.md-effect-5.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-5 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(600px) rotateX(20deg);
    -moz-transform: translateZ(600px) rotateX(20deg);
    -ms-transform: translateZ(600px) rotateX(20deg);
    transform: translateZ(600px) rotateX(20deg);
    opacity: 0;
}

.md-show.md-effect-5 .md-content {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: translateZ(0px) rotateX(0deg);
    -moz-transform: translateZ(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
    opacity: 1;
}


