<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "842879"
        versionCode = "2.9.0" 
        version     = "2.9.0" >

    <!-- versionCode is optional and Android only -->

    <name>Street Art Gangs Web App </name>

    <description></description>
	
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" /> 
	
</widget>
