<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   ="http://schemas.android.com/apk/res/android"
    id              ="com.example.streetartgangs"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<name>StreetArtGangs</name>
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- Declaring access permissions and internet connection status -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> 
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application>
   
    <description>Spray can for the game Street Art Gangs.</description>
	
    <preference name="orientation" value="portrait"/>
    <preference name="autorotate" value="false" readonly="true"/>
	<preference name="InAppBrowserStorageEnabled" value="true"/>
	
</widget>
